/*1: Importing and setting text style for the document*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand',sans-serif;
}
/* All anchor tags */
/*2: Making txts white to be visible over the background*/
a{ 
    text-decoration: none;
    color: #fff;
}
body{
    color: #fff;
    /*3: Setting up the main bg of the window */
    background-color: #e9ff99;
    background-image:
        radial-gradient(at 9% 89%, #BED1CF 0px, transparent 50%),
        radial-gradient(at 72% 6%, #E78895 0px, transparent 50%),
        radial-gradient(at 24% 19%, #FFE4C9 0px, transparent 50%),
        radial-gradient(at 65% 6%, #FFF7F1 0px, transparent 50%);   
    /*
    * Each radial-gradient() function creates a radial gradient, and the at keyword specifies the position of the gradient's center.
    * 'at' keyword takes the position in terms of co-ordinates.
    * hsla() function defines colors in the Hue-Saturation-Lightness-Alpha color model,
    * hsla(215, 90%, 73%, 1) represents a color with a hue of 215 degrees, saturation of 90%, lightness of 73%, and full opacity (alpha value of 1).
    * 0px specifies the starting point of the gradient
    * transparent indicates that the gradient should fade to transparency.
    * 50% indicates the extent of the gradient, where 50% means the gradient extends halfway to the background's edge.
    */
    min-height: 100vh;
    /*Sets the min height of the body tags, for diff windows/screen sizes*/
}

/*4: Setting the container holding all the contents*/
.container{
    display: flex;
    justify-content: center;
}
/*6: Setting up the translucent background/glass continaer */
.glass-container{
    display: block;
    max-width: 72vw;                            /*Setting the max width of the bg*/
    /*Setting the margin of bg from top and bottom */
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0,0,0,0.56);            /*Setting the bg color*/
    padding: 50px;                             /* Seting the dist btw the container and div borders from all sides*/
    border-radius: 16px;                       /* Curiving the borders of bg*/
    box-shadow: 0 4px 30px rgba(0,0,0,0.1); /*pop-up eff using shadows to bg*/
    backdrop-filter:blur(11.6px); 
    /* applies a graphical effects such as blurring or color shifting to the area behind an element.*/
    /*(11.6px);, it means that the area behind the element will be blurred with a blur radius of 11.6 pixels.*/
    -webkit-backdrop-filter: blur(11.6px);  
    /* The -webkit-backdrop-filter CSS property is similar to the standard backdrop-filter property, but it specifically targets WebKit-based browsers (such as Safari and older versions of Chrome) that use the WebKit rendering engine.
    Using vendor-specific prefixes like -webkit- ensures compatibility with older browsers that may not fully support the standard version of the property.
    */
}
.logo{ /*7: Setting up the logo txt "PikoloSan"*/
    display: inline-block;
    font-size: 30px;
    font-weight: 600;                           /* Gives txt bold look */
    margin-top: -10px;                          /* lifts the txt up */
}
/*8: Setting up the nav links */
ul.nav-links{
    margin: 0;                                  /*Lifts up the txt*/
    float: right;                               /*ALign the txt to right*/
    display: flex;                              /*Enables oneline arrangement txts.*/
    list-style: none;                           /*Removes the bullet points infront of txt */
}
/*8: Continued */
li.nav-link{
    display: inline-block;
    margin-left: 30px;                          /*adds space to left btw wach li tag */
    font-size: 17px;
    font-weight: 300;
}

li.nav-link:hover{
    font-weight: 500;
    
}
/*9: Setting image and content postion */
.content{
    display: flex; /*allowing content txt and img to be in one line*/
    width: 100%;
}
.main{
    /*Setting the content txt */
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}
.main p{
    /*Setting the content para */
    font-size: 16px;
    line-height: 23px;
}
/* 10: Setting up the button and its animation*/
button {
    margin-top: 10px;
    /* position: fixed; */
    width: 50%; /*Takes the complete space available */
    height: 40px;/*Sets the height of the button*/
    font-size: 15px;/*Sets size of in-button txt*/
    color: #fff;/*color of in-button txt*/
    background-color: transparent; /*Creates transparent button bg*/
    border: 1px solid #fff;  /*Provs a solid 1px width white border */
    border-radius: 10px;/*Providing curvature to border*/
    cursor: pointer; /*Sets the type of cursor on hovering on the button*/
    transition: all 0.3s ease;/*Sets the type and time for animation on hovering for button.*/
}
button:hover{
    border-color: #2668db;
    background-color: #2668db;
}

.image-wrapper{
    display: flex;
    margin-top: 5vh;
    margin-left: 15vh;
    position: relative;
}

/* 5: Setting the image size */
.image-wrapper img{
    max-width: 500px;
}

.attrebute{
    position:absolute;
    bottom: 20px;
    right:0;
    font-size: 12px;
}
/*12: Setting up the changes in positon and size of elements for diff screen size*/
@media screen and (max-width:1075px){
    .content{
        flex-direction: column;
    }
}
@media screen and (max-width: 720px){
    .logo{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 13px;
    }
    .main h2{
        font-size:28px;
    }
    .main p{
        font-size:15px;
    }
    button{
        font-size:13px;
    }
    .image-wrapper img{
        max-width:400px;
    }
}
